/* header css */
header > img{
    width: 70%;
    border-radius: 25%;
    display: none;
}

.headerTekst{
    max-width: 500px;
}

.heading{
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;
}

.heading > img {
    width: 30%;
    max-width: 350px;
    position: absolute;
    right: 4vw;
    border-radius: 25%;
}


/* skills en ervaring css */
.experience{
    margin: 0 auto;
}

.experience div:nth-child(1) {
    width: 100%;
    margin-bottom: 40px;
}

.experience div:nth-child(2) {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    height: fit-content;
}

.experience div:nth-child(2) p {
    margin: 0 10px 10px 0;
    border-radius: 3px;
    padding: 5px 10px;
    color: white;
    background-color: var(--secondary-color);
}

.experience div:nth-child(1) p {
    position: relative;
    margin-top: 20px;
    padding: 10px;
    z-index: 3;
    font-size: 1.2em;
}

.experience div:nth-child(1) p::before,
.experience div:nth-child(1) p::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    background-color:  var(--bar);
    z-index: -1;
}

.experience div:nth-child(1) p::before {
    border-radius: 3px;
    width: 100%;
    background-color: var(--bar);
}

.experience div:nth-child(1) p::after {
    border-radius: 3px 0 0 3px;
    background-color:  var(--filler);
}

.experience div:nth-child(1) p:nth-child(1):after {
    width: 80%;
}

.experience div:nth-child(1) p:nth-child(2):after {
    width: 85%;
}

.experience div:nth-child(1) p:nth-child(3):after {
    width: 70%;
}

.experience div:nth-child(1) p:nth-child(4):after {
    width: 82%;
}




/* Projects */

.projects{
 display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;


    
}
article{
    background-color: var(--secondary-color);
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    max-width: 400px;
}

article:hover{
    background-color: var(--filler);
}

article:hover > h2 {
    color: var(--main-color);
}


article > h2{
    text-align: center;
    color: white;
    margin-top: 0em;
    padding-bottom: 1em;
    font-size: 2.5em;
    letter-spacing: 1px;
}
article  > img{
        padding: 1em;
        width: 90%;
        display: block;
        margin: 0 auto;
}

.moreProjects{
    color: white;
    font-size: 2.5em;
    display: block;
    text-align: center;
    margin: 0 auto;
    background-color: var(--secondary-color);
    padding: 0.4em;
    width: 300px;
}

.moreProjects:hover {
    background-color: var(--filler);
    color: var(--main-color);
}

h1:last-of-type{
    text-align: center;
}

/* Media queries */
@media screen and (min-width:800px) {
    .experience {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto;
        grid-column-gap: 4vw;
    }

    .experience div:nth-child(1) {
        grid-area: 1 / 1 / 2 / 2;
        min-width: 50vw;
    }

    .experience div:nth-child(2) {
        grid-area: 1 / 2 / 2 / 3;
        padding-top: 20px;
    }

    .experience div:nth-child(1) p {
        margin: 20px 0;
    }
}

@media screen and (min-width:600px) {
    .headerTekst{
        max-width: 400px;
    }
}

@media screen and (min-width:1000px) {
    .headerTekst{
        max-width: 500px;
    }

    p{
        font-size: 1.5em;
    }
    .experience div:nth-child(1) p{
        font-size: 1.8em;
    }
}
